
/* ### -- -- -- -- -- File Styles -- -- -- -- -- ### */

/*

File: file.css
Copyright 2009-2012 by wcfsolutions.com

*/

/* ### -- -- -- -- -- Files -- -- -- -- -- ### */

.files {
	list-style: none;
	margin: 0;
	padding: 0;
}

.file {
	margin-bottom: 10px;
}

.file a {
	display: block;
	font-weight: bold;
}

.file .size {
	font-size: 0.85em;
	color: #333;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
