
/* ### -- -- -- -- -- Global Theme Default Styles -- -- -- -- -- ### */

/*

File: global.css
Copyright 2009-2012 by wcfsolutions.com

*/

body, html {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a {
	color: #154268;
	text-decoration: none;
}

a:hover {
	color:#000;
	text-decoration: none;
}

/* ### -- -- -- -- -- Inner Errors -- -- -- -- -- ### */

.innerError {
	background-image: url("../../../icon/errorS.png");
	background-position: 1px center;
	background-repeat: no-repeat;
	margin-bottom: 5px;
	padding: 5px 5px 5px 25px;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
