
/* ### -- -- -- -- -- Global Theme Default Styles -- -- -- -- -- ### */

/*

File: global.css
Copyright 2009-2012 by wcfsolutions.com

*/

body, html {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a {
	color: #154268;
	text-decoration: none;
}

a:hover {
	color:#000;
	text-decoration: none;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
