
/* ### -- -- -- -- -- Layout Styles -- -- -- -- -- ### */

/*

File: layout.css
Copyright 2009-2012 by wcfsolutions.com

*/

/* ### -- -- -- -- -- Page Layout -- -- -- -- -- ### */

#content {
	display: table;
}

#layout-1, #layout-2, #layout-3, #layout-4 {
	display: table-row;
}

#left, #main, #right {
	display: table-cell;
	vertical-align: top;
}

#header #mainMenu ul, #header #pageTitle, #header #userPanel #userNote, #content, #footer {
	width: 960px;
	margin: 0 auto;
}

#layout-2 #right, #layout-3 #left {
	width: 200px;
}

#layout-4 #left, #layout-4 #right {
	width: 200px;
}

#layout-3 #main, #layout-4 #main {
	margin-left: 200px;
}

#layout-2 #main, #layout-4 #main {
	margin-right: 200px;
}

/* ### -- -- -- -- -- Page Appearance -- -- -- -- -- ### */

#header {
	background-color: #164369;
	background-image: url("header.jpg");
	background-repeat: repeat-x;
	background-position: left top;
}

#header #pageTitle {
	height: 65px;
	padding-top: 25px;
}

#header #pageTitle a {
	text-shadow: 0 -1px 0 #000;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
}

#header #userPanel {
	background-image: url("userPanel.png");
	background-repeat: repeat-x;
	background-position: left bottom;
	font-size: .85em;
}

#header #userPanel, #header #userPanel a {
	color: #EBF1F6;
}

#header #userPanel #userNote {
	padding: 10px 5px 3px 0;
}

#header #userPanel #userNote a {
	text-decoration: underline;
}

#header #userPanel #userNote a:hover {
	text-decoration: none;
}

#content {
	padding: 10px 0 15px 0;
}

#content .inner {
	padding: 15px;
}

#layout-3 #main .inner {
	padding-right: 0;
}

#layout-2 #main .inner {
	padding-left: 0;
}

#layout-1 #main .inner {
	padding-left: 0;
	padding-right: 0;
}

#content:after {
	clear: both;
}

#content a {
	text-decoration: underline;
}

#content a:hover {
	text-decoration: none;
}

h1, h2, h3{
	margin: 5px 0 4px 0;
	border-bottom: 1px solid #8DA4B7;
}

h1 a, h2 a, h3 a {
	text-decoration: none !important;
}

#main .inner {
	padding-top: 0px;
	padding-bottom: 0px;
}

#main:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
}

#left, #right {
	border: 1px solid #8DA4B7;
	background-color: #F8FAFB;
	font-size: .9em;
}

#footer {
	border-top: 1px solid #8DA4B7;
	font-size: .85em;
	padding: 10px 0;
}

#footer .htmlThemeModule {
	text-align: right;
}

/* ### -- -- -- -- -- Articles -- -- -- -- -- ### */

.article > div {
	margin-bottom: 12px;
}

.article > div:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
