
/* ### -- -- -- -- -- Navigation Styles -- -- -- -- -- ### */

/*

File: navigation.css
Copyright 2009-2012 by wcfsolutions.com

*/

/* ### -- -- -- -- -- Main Menu -- -- -- -- -- ### */

#mainMenu {
	min-height: 31px;
	background-color: transparent;
	background-image: url("menuBar.png");
	background-repeat: repeat-x;
	background-position: left bottom;
	padding: 0px;
	border-width: 0 !important;
	padding-bottom: 6px;
}

#mainMenu ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
}

#mainMenu li {
	margin-top: 5px;
	display: inline-block;
	margin-left: -5px;
}

#mainMenu a {
	min-height: 24px;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #c2c2c2;
	border-width: 0 1px 1px 1px;
	line-height: 1;
	padding: 5px 11px 7px 11px;
	color: #154268;
}

#mainMenu a:hover {
	background-image: url("menuHover.png");
}

#mainMenu .active a {
	text-shadow: 0 -1px 0 #036;
	background-image: url("menuActive.png");
	color: #D9E5EF;
}

/* ### -- -- -- -- -- Sub Menu -- -- -- -- -- ### */

#subMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#subMenu ul li ul {
	padding-left: 20px;
}

#subMenu ul li ul li ul {
	padding-left: 40px;
}

#subMenu ul li ul li ul li ul {
	padding-left: 60px;
}

#subMenu ul li ul li ul li ul li ul {
	padding-left: 80px;
}

#subMenu .active > a {
	font-weight: bold;
}

/* ### -- -- -- -- -- Book Navigation -- -- -- -- -- ### */

.bookNavigationThemeModule {
	width: 100%;
}

.bookNavigationThemeModule ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.bookNavigationThemeModule li {
	float: left;
	width: 33.3%;
}

.bookNavigationThemeModule li.previous {
	text-align: left;
}

.bookNavigationThemeModule li.up {
	text-align: center;
}

.bookNavigationThemeModule li.next {
	text-align: right;
}

/* ### -- -- -- -- -- Breadcrumbs -- -- -- -- -- ### */

.breadCrumbs {
	font-size: 0.95em;
	list-style: none;
	margin: 5px 0;
	padding: 0;
}

.breadCrumbs li {
	margin-right: 1px;
	display: inline;
}

/* ### -- -- -- -- -- Page Navigation -- -- -- -- -- ### */

.pageNavigation  ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.pageNavigation li {
	display: inline;
}

/* @todo: remove this workaround */
.pageNavigation li.children {
	display: none;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
